In [108]:
# python 
import pandas as pd
import time
from datetime import datetime
import numpy as np
import matplotlib.pyplot as plt
start = time.time()
import math

def geo_distance(origin, destination):
    """
    Calculate the Haversine distance.

    Parameters
    ----------
    origin : tuple of float
        (lat, long)
    destination : tuple of float
        (lat, long)

    Returns
    -------
    distance_in_km : float

    Examples
    --------
    >>> origin = (48.1372, 11.5756)  # Munich
    >>> destination = (52.5186, 13.4083)  # Berlin
    >>> round(distance(origin, destination), 1)
    504.2
    """
    lat1, lon1 = origin
    lat2, lon2 = destination
    radius = 6371  # km

    dlat = math.radians(lat2 - lat1)
    dlon = math.radians(lon2 - lon1)
    a = (math.sin(dlat / 2) * math.sin(dlat / 2) +
         math.cos(math.radians(lat1)) * math.cos(math.radians(lat2)) *
         math.sin(dlon / 2) * math.sin(dlon / 2))
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    d = radius * c

    return d

In [102]:
data = pd.read_csv('2010_03.trips', sep=" ", header=None, 
                   names=["taxi-id", "start date", "start pos_lat","start pos_long","end date","end pos_lat","end pos_long"])

In [103]:
data_706=data[data['taxi-id']==706]
data_706

,taxi-id,start date,start pos_lat,start pos_long,end date,end pos_lat,end pos_long
221215,706,1.267418e+09,37.77480,-122.42444,1.267418e+09,37.78287,-122.42249
221216,706,1.267422e+09,37.79296,-122.41670,1.267422e+09,37.79459,-122.39961
221217,706,1.267423e+09,37.79806,-122.40384,1.267423e+09,37.79513,-122.40502
221218,706,1.267426e+09,37.79188,-122.41065,1.267427e+09,37.61797,-122.38600
221219,706,1.267430e+09,37.77909,-122.43512,1.267431e+09,37.79404,-122.39871
...,...,...,...,...,...,...,...
221949,706,1.269944e+09,37.77934,-122.43373,1.269945e+09,37.77761,-122.39742
221950,706,1.269945e+09,37.77777,-122.40014,1.269945e+09,37.79103,-122.40124
221951,706,1.269947e+09,37.79201,-122.39807,1.269947e+09,37.78708,-122.41082
221952,706,1.269947e+09,37.78015,-122.41521,1.269948e+09,37.79436,-122.39537
221953,706,1.269948e+09,37.77063,-122.39787,1.269948e+09,37.75255,-122.39210

In [110]:
for x in data_706.index:
#     print(x)
    data_706.loc[x,'distance']=geo_distance([data_706.loc[x, 'start pos_lat'],data_706.loc[x, 'start pos_long']],
                   [data_706.loc[x, 'end pos_lat'],data_706.loc[x, 'end pos_long']])
data_706

/Users/shuosun/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:376: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/Users/shuosun/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,taxi-id,start date,start pos_lat,start pos_long,end date,end pos_lat,end pos_long,distance
221215,706,1.267418e+09,37.77480,-122.42444,1.267418e+09,37.78287,-122.42249,0.913562
221216,706,1.267422e+09,37.79296,-122.41670,1.267422e+09,37.79459,-122.39961,1.512573
221217,706,1.267423e+09,37.79806,-122.40384,1.267423e+09,37.79513,-122.40502,0.341901
221218,706,1.267426e+09,37.79188,-122.41065,1.267427e+09,37.61797,-122.38600,19.459122
221219,706,1.267430e+09,37.77909,-122.43512,1.267431e+09,37.79404,-122.39871,3.605683
...,...,...,...,...,...,...,...,...
221949,706,1.269944e+09,37.77934,-122.43373,1.269945e+09,37.77761,-122.39742,3.196963
221950,706,1.269945e+09,37.77777,-122.40014,1.269945e+09,37.79103,-122.40124,1.477610
221951,706,1.269947e+09,37.79201,-122.39807,1.269947e+09,37.78708,-122.41082,1.247311
221952,706,1.269947e+09,37.78015,-122.41521,1.269948e+09,37.79436,-122.39537,2.352941
221953,706,1.269948e+09,37.77063,-122.39787,1.269948e+09,37.75255,-122.39210,2.073403

In [113]:
data_706['distance'].tolist()
data_706.to_csv('data_706_distance_two_points.csv')

In [79]:
data_706['start date'] = pd.to_datetime(data_706['start date'],unit='s')
data_706['end date'] = pd.to_datetime(data_706['end date'],unit='s')
data_706

/Users/shuosun/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/shuosun/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,taxi-id,start date,start pos_lat,start pos_long,end date,end pos_lat,end pos_long
221215,706,2010-03-01 04:35:13,37.77480,-122.42444,2010-03-01 04:37:40,37.78287,-122.42249
221216,706,2010-03-01 05:40:27,37.79296,-122.41670,2010-03-01 05:44:12,37.79459,-122.39961
221217,706,2010-03-01 05:48:39,37.79806,-122.40384,2010-03-01 05:51:18,37.79513,-122.40502
221218,706,2010-03-01 06:39:47,37.79188,-122.41065,2010-03-01 06:59:32,37.61797,-122.38600
221219,706,2010-03-01 07:50:09,37.77909,-122.43512,2010-03-01 08:04:01,37.79404,-122.39871
...,...,...,...,...,...,...,...
221949,706,2010-03-30 10:18:36,37.77934,-122.43373,2010-03-30 10:28:07,37.77761,-122.39742
221950,706,2010-03-30 10:30:49,37.77777,-122.40014,2010-03-30 10:36:32,37.79103,-122.40124
221951,706,2010-03-30 10:59:08,37.79201,-122.39807,2010-03-30 11:02:33,37.78708,-122.41082
221952,706,2010-03-30 11:06:20,37.78015,-122.41521,2010-03-30 11:14:56,37.79436,-122.39537
221953,706,2010-03-30 11:23:15,37.77063,-122.39787,2010-03-30 11:25:00,37.75255,-122.39210

In [95]:
# data_706=data
data_706['duration']=data_706["end date"]-data_706["start date"]
# list(data_706['duration'])
data_706['duration'].value_counts().sort_index()
# sorted(list(data_706['duration']))

/Users/shuosun/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

0.0        6
3.0        1
35.0       1
47.0       1
49.0       1
          ..
2324.0     1
2626.0     1
2627.0     1
2681.0     1
20084.0    1
Name: duration, Length: 543, dtype: int64

In [100]:
data_706[data_706['time']==0]

,taxi-id,start date,start pos_lat,start pos_long,end date,end pos_lat,end pos_long,duration,time
221270,706,1.267521e+09,37.78205,-122.40432,1.267521e+09,37.78205,-122.40432,0.0,0.0
221287,706,1.267541e+09,37.63531,-122.40322,1.267541e+09,37.63531,-122.40322,0.0,0.0
221288,706,1.267541e+09,37.63581,-122.40340,1.267541e+09,37.63581,-122.40340,0.0,0.0
221573,706,1.268266e+09,37.77774,-122.41609,1.268266e+09,37.77774,-122.41609,0.0,0.0
221719,706,1.268745e+09,37.79210,-122.40981,1.268745e+09,37.79210,-122.40981,0.0,0.0
221895,706,1.269735e+09,37.79869,-122.44611,1.269735e+09,37.79869,-122.44611,0.0,0.0